<div
	*ngFor="let module of data.modules"
	style="display: flex; justify-content: center"
>
	<mat-card
		style="
			max-width: 750px;
			width: 100%;
			margin-left: 2rem;
			margin-right: 2rem;
			margin-bottom: 2rem;
		"
	>
		<mat-card-header>
			<mat-card-title>{{ module.name }}</mat-card-title>
			<mat-card-subtitle>{{
				calculateAverage(module)
			}}</mat-card-subtitle>
		</mat-card-header>
		<mat-card-content>
			<app-grade-table [grades]="module.grades"></app-grade-table>
		</mat-card-content>
		<mat-card-actions
			><button mat-raised-button color="primary">Add Grade</button>
			<button mat-raised-button color="warn">
				Delete Module
			</button></mat-card-actions
		>
	</mat-card>
</div>
