<form (ngSubmit)="onSubmit()" #loginForm="ngForm">
	<mat-form-field>
		<mat-label>Name</mat-label>
		<input
			matInput
			id="name"
			type="text"
			name="name"
			[(ngModel)]="user.name"
			required
		/>
	</mat-form-field>

	<mat-form-field>
		<mat-label>Password</mat-label>
		<input
			matInput
			id="password"
			name="password"
			type="password"
			[(ngModel)]="user.password"
			required
		/>
	</mat-form-field>

	<button
		mat-raised-button
		color="primary"
		type="submit"
		[disabled]="loginForm.form.invalid"
	>
		Login
	</button>
</form>
